      <footer class="container-footer text-center">
        <div class="container">
         <div class="row">
          <div class="col-sm-6" style="border-right:2px solid rgba(99, 99, 99, .3);">
      <div class="foot-header">
       <h4 class="text-left">DOWNLOAD APP</h4> 
      </div>
      <div class="foot-links">
        <p class="text-left">
          <img src="images/home/ioslogo.png" width="auto" height="50">
          <img src="images/home/androidlogo.png" width="auto" height="50">
          <img src="https://s3-ap-southeast-1.amazonaws.com/myridzassets/Dealerships/Dakshin_Honda/Promotional_Assets/QR+code.png" width="70" height="70">
        </p>   
      </div>
                <div class="row">
    <div id="bottom-footer">
      <div class="row text-left">
        <div class="col-sm-12">
    	<a href="#">&copy; 2017 All Rights Reserved</a>
        <a href="#terms">Terms of Use</a>
        <a href="#privacy" style="border-right:0px solid #636363;">Privacy Policy</a>        
        </div>      
    </div>
  </div>    
  </div>
    </div>
       <div class="col-sm-2">
       
      </div>
     <div class="col-sm-4">
         
         <div class="foot-header">
             <h4 class="text-left">SOCIAL MEDIA</h4>         
        </div>
         <div class="foot-links"><br>
        <p class="text-left">
          <img src="images/home/facebook.png" width="auto" height="30">
        </p>
        <p class="text-left">
          Powered by: <img src="images/home/myridzlogo.png" width="auto" height="50">
        </p>
         </div>  
    </div>
  	</div>

</div>
</footer>