<style>
  .affix {
      top: 0;
      width: 100%;
	  position: fixed;
	  max-width: 1200px;
	  z-index: 9;
  }
        .caption1 {
        width:100%;
        bottom: 5.3rem;
        position: absolute;
        height:27px;
    }
      .caption {
        width:100%;
        bottom: .3rem;
        position: absolute;
        height:42px;
    }
    .cartext{
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
    color: #0D639C;
    margin-bottom: 15px;
    padding-top:10px;
	/*padding-left: 25px;*/
}
    .caption h4 {
        color: #fff;
       /* -webkit-font-smoothing: antialiased;*/
    }
        .carousel-control {
      background-color: transparent;
      opacity: 1; 
}
  </style>
<script>
$(document).ready(function(){
    $('html, body').scrollTop(0);
    $(window).on('load', function() {
    setTimeout(function(){
        $('html, body').scrollTop(0);
    }, 0);
 });
});
</script>
<!--
<div id="bannerCarousel" class="carousel slide" data-ride="carousel" ng-cloak>  
     <div class="carousel-inner" role="listbox">
            <div class="item" data-ng-repeat="img in bannerdata" data-ng-class="{active : $first}">
                <img data-ng-src="https://kht-group-backend.myridz.com{{img.image.url}}" alt=" carousel {{$index}}" />
            </div>
        </div>
    <ol class="carousel-indicators">
            <li data-target="#bannerCarousel" data-ng-repeat="img in bannerdata" data-ng-class="{active : $first}" data-slide-to="{{$index}}"></li>
        </ol>
        <a class="carousel-control left" href="#bannerCarousel" data-slide="prev" target="_self">
            <span class="slider-icon icon-slideleft small"></span>
        </a>
        <a class="carousel-control right" href="#bannerCarousel" data-slide="next" target="_self">
            <span class="slider-icon icon-slideright small"></span>
        </a>
    </div>
-->
      <div class="row top-buffer" style="height:20px;height: 40px;margin-left: 0px;margin-right: 0px;background-color: rgba(54, 54, 54, .14)!important;"> 
</div>

<div class="row"  style="background-color: rgba(54, 54, 54, .0)!important;margin-right: 0px;margin-left: 0px;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="background: white;">
                <img style="margin: 0px auto;width:75%;" src="images/home/mornig_food.jpg" />
         
                     
    </div>
</div>


<br><br>

<div class="row" style="backgr">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                <img style="margin: 0px auto;height: 70px;" src="images/home/NutritionFocused@3x.png" />
                <div class="titleHead" style="color:black;font-size:20px;">nutriGENIUS Meals</div>
                 <div class="extraspace text-center" style="font-size:15px;">Balanced meals Designed by nutritionists
Just for YOUR child  </div>
                     
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
         <img style="margin: 0px auto;height: 70px;" src="images/home/Superfood@3x.png" />
         <div class="titleHead" style="color:black;font-size:20px;">SUPER-foods!</div>
                 <div class="extraspace text-center" style="font-size:15px;">Adolescent development
Foxtail millet noodles  </div>
                     
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
         <img style="margin: 0px auto;height: 70px;" src="images/home/Incubation@3xCopy.png" />
        <div class="titleHead" style="color:black;font-size:20px;">
</div>
                 <div class="extraspace text-center" style="font-size:15px;">Scientists engineering menus To make Healthy  YUMMY  </div>
                     
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
         <img style="margin: 0px auto;height: 70px;" src="images/home/Sun@3x.png" />
        <div class="titleHead" style="color:black;font-size:20px;">Hassle free mornings</div>
                 <div class="extraspace text-center" style="font-size:15px;">Spend time with your child and yourself Packing lunch? Leave it to us  </div>
                     
    </div>
	
        </div>

<div class="row" style="background:white;"><br><br>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="extraspace text-center" style="font-size: 26px;margin: auto;width: 55%;padding: 10px;">Collaborating Doctor and Chef for Healthy Next Generation<span style="color:#F77041;font-size:25px;">"We can call it Dr.Chef"</span>, Nutritions.  </div>
    </div>

</div>

<div class="row" style="    background-color: rgba(54, 54, 54, .0)!important;"><br><br>
    <div class="titleHead" style="color:#9B9BA4;">History & Mission</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="extraspace text-center" style="font-size:20px;">Dr.Chef provides nutritious balanced vegetarian lunches to school children aged between 5 and 17 years. Our Mission is provide Indain food which is prepared from local vegetables and fruits. Our meals are packed with the nutrients that are required for a growing child’s needs. We take care of the whole process - cooking, packing and delivering the kids meals straight to the children’s classrooms. 
  </div>
    </div>

</div>


	
	<div ng-cloak style="background:white;">
			<div class="titleHead" style="color:#9B9BA4;">PARTNERS & ASSOCIATIONS</div>
				
		<div class="row" style="text-align: center;margin: 0 auto;">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="boxshadow">
                	<div class="quotes">
					<!--<img src="images/home/Testimonial.png" />-->
					</div>
                             <h4 class="text-center" style="color:#9B9BA4;font-weight: bold;font-size: 20px;">Looking for Funds</h4>  
				<div class="extraspace"> Looking for funding</div><br>
                <br><br>
            </div>
			</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                         <div class="boxshadow">
                	<div class="quotes">
					<!--<img src="images/home/Testimonial.png" />-->
					</div>
                              <h4 class="text-center" style="color:#9B9BA4;font-weight: bold;font-size: 20px;">FSSAI Approved</h4> 
				<div class="extraspace">The Nutritious meals that we cook for the kids are cooked in a state of the art kitchen that is  certified and FSSAI licensed and we follow the highest quality and food safety standards while we cook and pack the children's lunch boxes </div><br>
                <br><br>
            </div>
			</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                     <div class="boxshadow">
                	<div class="quotes">
					<!--<img src="images/home/Testimonial.png" />-->
					</div>
                                          <h4 class="text-center" style="color:#9B9BA4;font-weight: bold;font-size: 20px;">Team</h4> 
				<div class="extraspace">Dr.Chef is founded by three foodies Poonam, Vipul & Chandrakant.</div><br>
        <br><br>
            </div>
			</div>
        </div>
        <div class="row top-buffer"> 
</div>
   

	</div>

       <!-- <div class="row top-buffer">--> 
        <footer class="container-footer text-center" style="background-color: rgba(54, 54, 54, .14)!important;">
        <div class="container">
         <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">    
      <div>
        <p class="text-center">
            <h4 style="color:#9B9B9B;font-size:20px;">FOLLOW US ON
</h4>
          <img src="images/home/facebook1.png" width="auto" height="50">
          <img src="images/home/twitter1.png" width="auto" height="50">
        </p>   
      </div>
               
    </div>
             
     <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 text-center">
         
         <h4 style="color:black;font-size: 14px;">chandrakant@drchefnutritions.com</h4>         
  
    </div>
               <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 text-center">
                   
                    <h4  style="color:#9B9B9B;font-size: 14px;">DrChef Nutritions Pvt Ltd<br> 
Mumbai</h4> 
         
  
    </div>
               <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 text-center">
                
                    <h4  style="color:black;font-size: 14px;">+918446277653</h4> 
         
  
    </div>
  	</div>

</div>
</footer>
